.top-container {
    
    position: relative;
    background-color: #08d9d6;
    font-family:  Lucida Handwriting;
}
body {
    text-align: center;
    background-color:#00b8A9;
    margin: 0;
    color:  #112D4E;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    width: 15%;
    margin: 0 auto;
}
span {
    text-decoration: underline;
}
.cloud1 {
    position: relative;
    left: 230px;
    top: 40px;
}
.cloud2 {
    position: absolute;
    left: 98px;
    top: 92px;
}
.cloud3 {
    position: absolute;
    bottom: 236px;
    left: 362px;
    
}
hr {
    border-color: aquamarine;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 10%;
}
.flaticon {
    border-radius: 100%;
    height: 231px;
    width: 231px;
}
.socials {
    height: 10%;
    width: 10%;
    border-radius: 100%;
}
.skill-row {
    text-align: center;
    margin: auto;
}
a {
    text-decoration: none;
}
a:hover {
    color: green;
}
.navbar {
    position: relative;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: teal;
    border-radius: 12px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    
}
.navbar li a:hover:not(.active) {
    background-color: #112d4e;
    color: darkkhaki;
}

